---
const { identifier } = Astro.props;

---

<h1 class="text-4xl font-bold text-red-800">Internet Archive Record</h1>
<p>Internet Archive collection records are not yet supported. <a class="text-blue-500" href={`https://archive.org/details/${identifier.split("ia--")[1]}`}>Click here to visit the record on Internet Archive.</a></p>
