---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/hero.astro";
import { fetchBanner } from "utils/all.js";
import Container from "@components/container.astro";

// Filter blog entries with 'draft: false' & date before current date
let publishedStories = await getCollection("stories", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedStories.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

publishedStories = await Promise.all(publishedStories.map(async (story) => {
  let banner = await fetchBanner(story.data.banner)
  story.data.bannerImage = await banner
  return(story);
}));

---

<Layout title="Stories">
  <Container>
    <div class="mx-auto max-w-3xl mt-14">

      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight mb-2">
        Stories
      </h1>
      <ul class="grid gap-16 max-w-4xl mt-14 mx-auto">
        {
          publishedStories.map((story) => (
            <a href=`stories/${story.slug}`>
            <Hero 
              splashText={story.data.title}
              heroText={story.data.author}
              headerImage={story.data.bannerImage}
            />
            </a>
          ))
        }
      </ul>
    </div>
  </Container>
</Layout>
